.logo{

	height: 10%;
	width: 10%;
	box-shadow: 0px 0px 5px gray;
	margin: 10px auto;
}


.header{
	background-color: black;
	color: white;
	box-shadow: 0px 1px 5px gray; 
	height: 40px;
	padding: none;
	margin: none;
	width: 100%;
	text-align: center;
	overflow: auto;
	vertical-align: middle;
	margin-bottom: 10px;
}



.cardstyle a{
	margin: 2px 5px;
}


@keyframes card {
  from {background-color: transparent;}
  to {background-color: black;}
}

.cardstyle{
	width: 18rem;
	margin: 10px 20px; 
	box-sizing: border-box;
	float: left;
	color: black;
}

.cardstyle:hover{
	background-color: black;
	width: 18rem;
	margin: 10px 20px; 
	box-sizing: border-box;
	float: left;
	color: white;
	box-shadow: 1px 1px 5px black;
	animation-name: card;
    animation-duration: 0.5s;
}


img{
	object-fit: cover;
	object-position: 5% 0;
	width: 100%;
  	height: 70px;
}

.footer{
	background-color: transparent;
	color: red;
	font-style: italic;
	font-weight: lighter;
	box-shadow: 0px 1px 2px red; 
	height: 20px;
	padding: none;
	margin: none;
	width: 100%;
	text-align: center;
	overflow: auto;
	vertical-align: middle;
	margin-bottom: 10px;
}

.social{
	background-color: transparent;	
	font-style: italic;
	font-weight: lighter;
	box-shadow: 0px 0px 2px black; 
	padding: 15px 10px;
	margin: 20px auto;
	width: fit-content;
	text-align: center;
	overflow: auto;
	vertical-align: middle;
	box-sizing: border-box;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
   border: 1px solid white;
  margin: 5px 2px;
}
@keyframes social {
  from {}
  to {background-color: white;}
}

.fa:hover {
    opacity: 0.9;
    color:black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0%; 
    box-shadow: 0px 0px 4px black;
	animation-name: social;
    animation-duration: 0.5s;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  margin:2px 20px;
}

.fa-github{
	background-color: black;
	color:white;
    border-radius: 50%;
    margin:2px 20px;
}

.website{
	box-sizing: border-box;
	border: 1px solid blue;
	padding: 5px;
	margin: 20px;
	border-radius: 5px;
	color:blue;
}

.website:hover{
	box-sizing: border-box;
	border: 1px solid blue;
	padding: 5px;
	margin: 20px;
	border-radius: 3px;
	color:white;
	background-color: blue; 
	color: white;
	text-decoration: none;
	border-radius: 0px;
	opacity: 0.8;
	box-shadow: 0px 0px 3px blue;
}




